table {
    width: 95%;
    margin-left: 2%;
}

.mat-paginator {
    width: 95%;
    margin-left: 2%;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

.mat-form-field {
    font-size: 16px;
    width: 95%;
    margin-left: 2%;
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding-right: 0px;
}

